.general{
    position: relative;
    margin: auto;
    width: 780px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
 }
 
 section div{
    display: flex;
    flex-basis: 23.5%;
    margin: 0.5%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}